<h1>Stupid Coaching</h1>

<div class="question">
  <p><b><%= @question %></b></p>
  <p><i>-You</i></p>
</div>

<div class="answer">
  <p><b><%= @coach_answer %></b></p>
  <p><i>-Your coach</i></p>
</div>

<%= link_to "Ask another question now", ask_path %>
